ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
google-api-python-client
google_auth_oauthlib
dotenv
google-auth-httplib2
typing
starlette