# name: Deploy Application Docker Image to Render instance

on:
  push:
    branches: [main]

jobs:
  Continuous-Integration:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Step 3: Build Docker image (Render will rebuild internally, but this ensures build args work)
      - name: Build Docker image with secrets
        run: |
          docker build \
            --build-arg CRED_JSON_KEY=${{ secrets.CRED_JSON_KEY }} \
            --build-arg TOKEN_JSON_KEY=${{ secrets.TOKEN_JSON_KEY }} \
            -t insurance_predict .
      - name: Trigger Render Display
        env: 
          RENDER_API_KEY: ${{secrets.RENDER_API_KEY}}
        run: |
          curl -X POST https://api.render.com/deploy.srv-d29mieruibrs73c6m5a0?key=$RENDER_API_KEY

